################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/TODO_list/bin/Debug
/TODO_list/obj/Debug
/.vs/TODO_list/v15
