################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/TODO_list/bin/Debug
/TODO_list/obj/Debug
/.vs/TODO_list/v15
/TODO_list/obj/x64/Debug
/TODO_list/obj/x86/Debug/TempPE
/TODO_list/obj/x86/Debug
/TODO_list/bin/x64/Debug
/TODO_list/db
/TODO_list/bin/x86/Debug
